@import "../index.css";

.contacts-parent-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--primary-color) 50%);
  /* var(--primary-color); */
}

.contacts-bottom-mirror {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(
    to bottom,
    var(--nav-background),
    var(--primary-color)
  );
  backdrop-filter: blur(4px);
  z-index: 10;

  box-shadow: 0 5px 45px var(--on-background-alt);
}

.contacts-icons-container {
  display: flex;
  height: fit-content;
  bottom: 26%;
  position: absolute;
}

.icon {
  position: relative;
  padding: 10px;
  top: 0;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px;
  background: radial-gradient(
    circle,
    var(--primary-color),
    var(--nav-background)
  );
  box-shadow: 0 5px 45px var(--on-background-alt);
  z-index: 1;
  overflow: hidden;
  transition: top 0.3s, z-index 0.3s, transform 0.3s;
  transition-delay: 0.3s, 0.3s, 0s;
}
.icon:hover {
  top: -32px;
  transform: translateY(32px);
  z-index: 11;
  transition-delay: 0s, 0s, 0.3s;
}
.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  transform: skewX(45deg) translateX(100px);
}
.icon:hover::before {
  transform: skewX(45deg) translateX(-100px);
}
