@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&display=swap");
:root {
  --primary-color: #fdb927;
  --primary-variant: #fde827;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
  --nav-background: rgba(255, 255, 255, 0.3);
  --background: #e9e9e9;
  --nav-mobile-outline: rgba(150, 65, 255);
}

[data-theme="dark"] {
  --primary-color: rgba(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
  --nav-background: rgba(0, 0, 0, 0.2);
  --nav-mobile-outline: #fdb927;
}
html {
  scroll-behavior: smooth;
}
#root {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  color: var(--on-background);
  font-family: Comfortaa, sans-serif;
  background-color: var(--background);
}
